<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="struts1a" version="3.0">
	<display-name>Time-card</display-name>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>timecardutil</servlet-name>
		<servlet-class>hal.java.util.TimecardUtil</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>listutil</servlet-name>
		<servlet-class>hal.java.util.ListUtil</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>hal.java.util.Logout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>timecardutil</servlet-name>
		<url-pattern>/timecardutil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>listutil</servlet-name>
		<url-pattern>/listutil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>